What is an URI scheme?

We all know that URIs should use URI schemes ("protocols") registered in
https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml.

But sometimes people use schemes that they make up.
Or they use `<urn:WHATEVER:...>`: but the `urn:` scheme is not free-for-all either: see
https://www.iana.org/assignments/urn-namespaces/urn-namespaces.xhtml

Even companies do it, eg
- ONTO uses schemes `<repository:REPO>` and `<rdf-mapper:ontorefine:PROJECT_ID>` for service access (to internal federation and OntoRefine respectively)
- SWC uses a `<history>` scheme to record concept changes in PoolParty (cc @turnguard)

Jena ARQ returns an error on such schemes, eg:
```
update --update foo.ru
HttpException: 0 Malformed URL: java.net.MalformedURLException: unknown protocol: rdf-mapper
```
rdf4j is a lot more lax.

I recently read some strongly worded advise (by w3c or a w3c staffer?) that people shouldn't make new schemes.

The first IANA page rebukes the 6 `coap*` schemes:
> CoAP registers different URI schemes for accessing CoAP resources via different protocols. This approach runs counter to the WWW principle that a URI identifies a resource and that multiple URIs for identifying the same resource should be avoided 

Curiously, it fails to render such rebuke for `http:` vs `https:`, which is in fact a serious problem because of its much wider use, and the mass migration of websites and webservices to `https:` (eg schema.org cc @danbri).

---

So... I have a few questions to  @afs @jeenbroekstra @pchampin @ericprud @kasei @gkellogg etc
- Should RDF frameworks be strict or lax about checking URI schemes?
- How often should frameworks update their list of allowed schemes?
- Should people be free to make their own schemes, or always use existing schemes?
- What do you think about using historical or provisional schemes?
  - A rough "scrollbar measurement" on the IANA page (sorted by Status) shows about 10% historical, 50% provisional, and 40% permanent.
  - Eg a contact gave [acd:](https://www.iana.org/assignments/uri-schemes/prov/acd) as an example. You may notice it's registered for private use by a company
  - Most of the provisional schemes do not point to RFCs but just to contacts on the same page. Usually I'd say that the value of such schemes for public use is diminished, but:
  - I recognize some that are widely used: `git, ipfs, ethereum, did, irc, ms-*`...
  - So shouldn't their owners aim to attach them to a RFC or W3C spec? @msporny if some framework decided to deny `did:` that would break tons of work on DID and VC?
  - A general problem I see with the IANA list is that it hasn't been "garbage collected" (ever?) and you can't tell how widely used a scheme is.

(I realize the question is not SPARQL specific, and has nothing to do with SPARQL 1.2, but this is the forum with highest concentration of authorities on such subjects that I know of, so please be tolerant).


What's in foo.ru?

It says "HttpException:"

You can try the Jena IRI parser at : http://www.sparql.org/iri-validator.html

@afs Thanks for the clarifications!

A: `foo.ru` is a SPARQL Update with `base <https:...>` then `service <rdf-mapper:ontorefine:PROJECT_ID>`:
1. Hope it doesn't interpret `<rdf-mapper:...>` as a relative URL? [Wikipedia](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Syntax) says the scheme includes
> letters, digits, plus (+), period (.), or hyphen (-)
2. It doesn't try out `service` URIs while checking query syntax, right?

B: The query below passes at http://www.sparql.org/update-validator.html 
but fails with Jena arq `update` VERSION: 4.1.0 BUILD_DATE: 2021-05-31T20:32:25+0000 (error shown above):

```sparql
delete {}
where {
  service <rdf-mapper:ontorefine:PROJECT_ID> { }}
```

C: Indeed, http://www.sparql.org/$/validate/iri?iri=urn:xx:abc is accepted.


`service <rdf-mapper:ontorefine:PROJECT_ID>` is call to an external service. It must be GraphDB specific handling of SERVICE.

You did not get a parse error. Try the update parser `uparse` or online at sparql.org.

In fact, _**IF**_ you register the URL and a handler, then Jena 4.4.0 can SERVICE extensions; it needs the protocol code to interpret any `rdf-mapper:`.

Jena 4.1.0 used a different HTTP library and SPARQL handling code. 4.4.0 uses java.net.http and supports HTTP/2.

https://jena.apache.org/documentation/sparql-apis/


On HTTPS everywhere, vs TLS everywhere, see also
https://www.w3.org/DesignIssues/Security-NotTheS.html from @timbl

On Wed, 6 Apr 2022 at 17:02, Vladimir Alexiev ***@***.***>
wrote:

> We all know that URIs should use URI schemes ("protocols") registered in
> https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml.
>
> But sometimes people use schemes that they make up.
> Or they use <urn:WHATEVER:...>: but the urn: scheme is not free-for-all
> either: see
> https://www.iana.org/assignments/urn-namespaces/urn-namespaces.xhtml
>
> Even companies do it, eg
>
>    - ONTO uses schemes <repository:REPO> and
>    <rdf-mapper:ontorefine:PROJECT_ID> for service access (to internal
>    federation and OntoRefine respectively)
>    - SWC uses a <history> scheme to record concept changes in PoolParty
>    (cc @turnguard <https://github.com/turnguard>)
>
> Jena ARQ returns an error on such schemes, eg:
>
> update --update foo.ru
> HttpException: 0 Malformed URL: java.net.MalformedURLException: unknown protocol: rdf-mapper
>
> rdf4j is a lot more lax.
>
> I recently read some strongly worded advise (by w3c or a w3c staffer?)
> that people shouldn't make new schemes.
>
> The first IANA page rebukes the 6 coap* schemes:
>
> CoAP registers different URI schemes for accessing CoAP resources via
> different protocols. This approach runs counter to the WWW principle that a
> URI identifies a resource and that multiple URIs for identifying the same
> resource should be avoided
>
> Curiously, it fails to render such rebuke for http: vs https:, which is
> in fact a serious problem because of its much wider use, and the mass
> migration of websites and webservices to https: (eg schema.org cc @danbri
> <https://github.com/danbri>).
> ------------------------------
>
> So... I have a few questions to @afs <https://github.com/afs>
> @jeenbroekstra <https://github.com/jeenbroekstra> @pchampin
> <https://github.com/pchampin> @ericprud <https://github.com/ericprud>
> @kasei <https://github.com/kasei> @gkellogg <https://github.com/gkellogg>
> etc
>
>    - Should RDF frameworks be strict or lax about checking URI schemes?
>    - How often should frameworks update their list of allowed schemes?
>    - Should people be free to make their own schemes, or always use
>    existing schemes?
>    - What do you think about using historical or provisional schemes?
>       - A rough "scrollbar measurement" on the IANA page (sorted by
>       Status) shows about 10% historical, 50% provisional, and 40% permanent.
>       - Eg a contact gave
>       https://www.iana.org/assignments/uri-schemes/prov/acd as an
>       example. You'll notice it's registered for private use by a company
>
> (I realize the question is not SPARQL specific, and has nothing to do with
> SPARQL 1.2, but this is the forum with highest concentration of authorities
> on such subjects that I know of, so please be tolerant).
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/w3c/sparql-12/issues/158>, or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AABJSGM44BNCCMLIPOVK54TVDWYQBANCNFSM5SWQVBNA>
> .
> You are receiving this because you were mentioned.Message ID:
> ***@***.***>
>


Thanks @afs! `uparse` returns the same as sparql.org

I'd lean towards not require URI scheme validation in the specs. It seems practical to keep the SPARQL, Turtle, ShExC etc terminals, which don't look into the IRI. The downside is that you may distribute some Turtle doc far and wide before trying it in Jena and getting a bunch of warnings. I think we have to live with that because A; folks can always use a fussier validator and B; coding for all formally-specified and ad-hoc (but used) IRI schemes and their respective grammars seems impossible.

This leaves the question of testing. Since RDF datatyped literals don't have to be valid WRT to their datatype, there are tests with invalid lexicals. This means that implementors with validating parsers had to either fail the test or add switches to turn off validation while runing the WG's test suite. They may have to do the same thing for URI schemes, unless we commit to only using popular URI schemes in the tests.

URI schemes are clearly defined in [RFC 3986 § 3.1](https://www.ietf.org/rfc/rfc3986.html#section-3.1).  What more do you need?  And why?

As @TallTed points out, validation of a URI/IRI should probably be limited to lexical validity, and your example of `rdf-mapper:ontorefine:PROJECT_ID` is, in fact, a lexically valid URI. Languages such as SPARQL, Turtle, and ShEx also make it unambiguous that it is a URI/IRI, by fencing with `<>`.

It's more complicated in JSON-LD, because either a URI/IRI, Compact IRI, or even text can be used in any given position. Even then the value is described using something like `"@type": "@id"`, it is ambiguous as to whether it's an IRI or Compact IRI. IIRC, to be a Compact IRI, the prefix must be a defined term in the local context, but even that can lead to unfortunate side-effects.

Furthermore, future proofing would disfavor building in any lexical knowledge of URI/URL/IRI schemes, although obviously once it's used as a URL, the scheme must actually be supported to load the resource. Those are separate concerns, though.

The only point to add @gkellogg 's analysis is that some URI schemes have addition syntax (e.g. DID, URN including disallowing `urn:x:`) beyond RDF 3986/7. A system _may_ also apply these rules in some way (warn, reject, not change). Even [HTTP RFC7230](https://www.rfc-editor.org/rfc/rfc7230#page-16) provides at least one additional rule (no empty host).


Complete inline validation of each and every URI scheme which has ever or will ever exist MUST be beyond the scope of SPARQL and RDF, even though those URI schemes may well be used in both SPARQL and RDF.  For both SPARQL and RDF, the primary purpose of these URIs is as *identifiers* which need not ever be dereferenceable, as much as such dereferenceability may be desirable for the Linked (Open) Data Cloud and other purposes beyond SPARQL and RDF.  SPARQL and RDF only look at the lexical values of these URIs, not what is retrieved by dereferencing them.  All that SPARQL and RDF require is conformance to the broadest generic URI form, with which all more-confined URI forms also conform, by all their definitions.

Thanks everyone for the useful info!

Please close this info: obviously I was mistaken that frameworks check URI schemes.

> RDF datatyped literals don't have to be valid WRT to their datatype

@ericprud this is the only use I have found for `^^xsd:anyURI` : representing eg CrunchBase homepage URLs in this way stores them successfully (as potential future trouble).
Whereas representing them as real URLs causes big headaches since there are many invalid ones.


